# Laravel
/backend/vendor
/backend/.env
/backend/storage/*.key
/backend/node_modules
/backend/storage/logs
/backend/storage/framework


# React
/frontend/node_modules
/frontend/dist
/frontend/.env
/frontend/build

# General
.DS_Store
.env